*{
	padding: 0;
	margin: 0;
}
/*主窗体*/
#mainscreen{
	width: 384px;
	height: 640px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/*背景*/
.bg{
	width: 384px;
	height: 640px;
	position: absolute;      
	background-image: url(../img/背景图.png);
	
}
#bg2{
	top: -640px;
}

/*飞机*/
#airplane{
	width: 75px;
	height: 67px;
	background-image: url(../img/飞机.png);
	position: absolute;
	left: 150px;
	top: 500px;
}
/*子弹*/
.bullent{
	position: absolute;
	width: 5px;
	height: 10px;
	background-image: url(../img/子弹.png);
	background-size: 5px 10px;
}

.tank{
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(../img/坦克.png);
	background-size: 30px 30px;
}
